html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
    background-color: white;
}
#about {
    position: fixed;
    top: 10px;
    left: 0;
    padding: 15px;
}
#store {
    position: fixed;
    top: 10px;
    left: 50px;
    padding: 15px;
}
#gmail {
    position: fixed;
    top: 10px;
    right: 195px;
    padding: 15px;
}
#images {
    position: fixed;
    top: 10px;
    right: 135px;
    padding: 15px;
}
#apps {
    position: fixed !important;
    top: -45px !important;
    right: 50px !important;
    padding: 15px !important;
}
#signin {
    position: fixed;
    top: 20px;
    right: 23px;
    padding-left: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 1px;
    font-size: 14px;
    background-color: rgb(95, 127, 223);
    border-radius: 3px;
    color: white;
    font-weight: bold;
}
p {
    height: 135px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1cm;
    }
input { 
    width: 12cm;
    height: 1.2cm;
    border-radius: 25px;
    border: 0.5px solid rgb(177, 170, 170);
    padding-left: 0.5cm;
    font-size: 18px;
    
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5cm;
}

input:hover {
    box-shadow:0px 0px 3px 0px rgb(156, 156, 156);
}
input:focus {
    outline: none;
    box-shadow:0px 0px 3px 0px rgb(156, 156, 156);
}
button {
    padding: 0.2em;
    color: rgb(92, 92, 92);
    height: 1cm;
    width: 4cm;
    border: transparent;
    border-radius: 2px;
}
button:hover {
    border: solid 1px;
    border-color: rgb(156, 156, 156);
    box-shadow: 0px 0px 2px 0px rgb(156, 156, 156);
    color: rgb(92, 92, 92);
}
#search {
    margin: 0.2cm;
}
#lucky {
    margin: 0.2cm;
}
ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    font-size: 12px;
}
li {
    display: inline;
    padding: 10px;
}
a {
color: rgb(75, 75, 75);
text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 95%;
    background-color: rgb(245, 245, 245);
    border: transparent;
}
#advertising {
    position: fixed;
    bottom: 0px;
    left: 10px;
    padding: 10px;
    font-size: 14px;
}
#business {
    position: fixed;
    bottom: 0px;
    left: 105px;
    padding: 10px;
    font-size: 14px;
}
#how-search-works {
    position: fixed;
    bottom: 0px;
    left: 185px;
    padding: 10px;
    font-size: 14px;
}
#privacy {
    position: fixed;
    bottom: 0px;
    right: 150px;
    padding: 10px;
    font-size: 14px;
}
#terms {
    position: fixed;
    bottom: 0px;
    right: 80px;
    padding: 10px;
    font-size: 14px;
}
#settings {
    position: fixed;
    bottom: 0px;
    right: 10px;
    padding: 10px;
    font-size: 14px;
}